body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

section {
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

img.jurassicParkLogo {
    height: 132px;
    width: 124px;
}

nav.mainNavBar {
    display: flex;
    background-color: antiquewhite;
    color: gray;
    padding: 10px;
    justify-content: space-around;

}

nav.subNavBar {
    display: flex;
    justify-content: space-around;
}

.stayLeft {
    order: 0;
}

section.stayRight {
    display: flex;
    flex-direction: column;
}

section.stay1 {
    display: flex;
    justify-content: space-between;
}

img.stayLeft {
    width: 394px;
    height: 395px;
}

.stay2 {
    display: flex;
    justify-content: space-between;
}

img.stayRight {
    width: 50%;
    height: 50%;
}

img.secondImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.facilitiesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.kidsClubText {
    display: flex;
    flex-direction: column;
}

section.roomServiceText {
    display: flex;
    flex-direction: column;
}

section.fitnessCenterText {
    display: flex;
    flex-direction: column;
}

section.spaText {
    display: flex;
    flex-direction: column;
}

section.standardButtonMain {
    display: flex;
    flex-direction: column;
}