/* It starts to breaks at 1139px small (width) */

.standardBungalowTextM {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F0;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
}

a {
    font-style: normal;
    text-decoration: none;
    color: black;
}


img.jurassicParkLogo {
    height: 132px;
    width: 124px;
}

nav.mainNavBar {
    display: flex;
    background-color: #D7D3C6;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 4px solid black;
}

.mainNavBar a {
    align-self: center;
}


a.mainNavButton {
    padding: 10px;
    color: black;
    font-style: normal;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}

a.specialNavButton1 {
    font-weight: bolder;
    font-size: larger;
    border: 3px solid black;
    padding: 10px;
    font-style: normal;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

a.specialNavButton2 {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2D3648;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
    border: 3px solid #2D3648;
    border-radius: 10px;
}

/* This part of the code is for OUR NAV BAR (aka the one for accommodations) */

nav.subNavBar {
    display: flex;
    justify-content: space-around;
    background-color: #B2A696;
}

.subNavBar a {
    padding: 10px;
    color: black;
    font-style: normal;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}

section.standardBungalowPackage {
    background-color: #D7D3C6;
}

.standardBungalowPackage h1 {
    font-size: 60px;
    margin-left: 40px;
}

section.description {
    display: flex;
}

.description h1 {
    font-size: 46px;
    margin-left: 40px;
}

.description p {
    font-size: 35px;
    margin-left: 40px;
}

.description img {
    padding-left: 60px;
    margin-right: 20px;
}

section.availabilityRatingAndCost {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 75%;

}

.availabilityRatingAndCost a {
    background-color: #80766D;
    border: 2px solid black;
    padding: 10px;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 48px;
    margin-right: 80px;
    border-radius: 10px;
}

.availabilityRatingAndCost h1 {
    padding-right: 82px;
    font-size: 64px;
}

img.coin {
    width: 95px;
    height: 106px;
    max-width: 95px;
    max-height: 106px;
}

img.stars {
    padding-left: 107px;
}

.availabilityRatingAndCost section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

section.review1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7D3C6;
    height: 557px;
    margin-bottom: 15px;
}

section.review2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7D3C6;
    height: 557px;
}

img.Reviewer {
    height: 100px;
    width: 100px;
    padding-top: 14px;
    padding-bottom: 21px;
}

img.rateing {
    padding-bottom: 12px;
}

.review1 h1 {
    font-size: 40px;
}

.review1 p {
    font-size: 35px;
    margin-left: 40px;
    margin-right: 40px;
}

.review2 h1 {
    font-size: 40px;
}

.review2 p {
    font-size: 35px;
    margin-left: 40px;
    margin-right: 40px;
}

@media only screen and (max-width:1200px) {

    .standardBungalowTextM{
        display: flex;
    }

    body {
        align-items: center;
        flex-direction: column;
    }

    nav.mainNavBar {
        justify-content: center;
        max-width: 1200px;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .mainNavBar a {
        display: none;
    }

    /* This is temp due to not knowing how to fix it */

    nav.subNavBar {
        display: none;
    }

    img {
        max-width: 100%;
        width: 100%;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
    }

    img.imgBanner{
        display: none;
    }

    section.standardBungalowPackage {
        width: 100%;
        align-items: center;
    }

    .standardBungalowPackage h1 {
        font-size: 30px;
    }



    .standardBungalowText * {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }

    .standardBungalowText p {
        order: 1;
        margin-right: 20px;
        margin-left: 20px;
    }

    .standardBungalowText h1 {
        order: 2;
    }

    img.stars {
        padding-left: 0px;
        max-width: 434.250px;
        max-height: 88.703px;
    }

    .availabilityRatingAndCost a {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    img.rateing {
        max-width: 434.250px;
        max-height: 88.703px;
    }

    .availabilityRatingAndCost h1 {
        padding-right: 10px;
        font-size: 32px;
    }

    section.header {
        display: none;
    }

    section.review1 {
        height: auto;
padding-right: 10px;
        padding-left: 10px;
    }

    section.review2 {
        height: auto;
    }

    .review1 h1 {
        font-size: 40px;
        align-self: center;
        text-align: center;
    }

}


/* padding-left: 0px;
margin: 0px;
width: 100%;
align-self: center; */