/* NOTE TO SELF NOAH give <a> a background color and padding. */
/* This part of the code is for changing everything of a type of element (This includes the body). */

span.phoneButton {
    display: none;
}

.sidenav {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

section {
    background-color: #F8F8F0;
    color: black;
    padding: 10px;
    /* display: flex; */
}

/* This part of the code is for the MAIN NAV BAR. */
/* 
img.jurassicParkLogo {
    height: 132px;
    width: 124px;
}

nav.mainNavBar {
    display: flex;
    background-color: #D7D3C6;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 4px solid black;
}

.mainNavBar a {
    align-self: center;
}


a.mainNavButton {
    padding: 10px;
    color: black;
    font-style: normal;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}

a.specialNavButton1 {
    font-weight: bolder;
    font-size: larger;
    border: 3px solid black;
    padding: 10px;
    font-style: normal;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

a.specialNavButton2 {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2D3648;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
    border: 3px solid #2D3648;
    border-radius: 10px;
} */

/* This part of the code is for OUR NAV BAR (aka the one for accommodations) */

nav.subNavBar {
    display: flex;
    justify-content: space-around;
    background-color: #B2A696;
}

.subNavBar a {
    padding: 10px;
    color: black;
    font-style: normal;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    display: flex;
}

/* This part of the code is for the STAY part */

.stayLeft {
    order: 0;
}

/* (NOTE: [section.stayright] is what making the header on top and the text on the bottom) */

section.stayRight {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

/* (NOTE: [section.stay1] and [.stay2] are there for spaceing and flexbox) */

section.stay1 {
    display: flex;
    justify-content: space-between;
}

.stay2 {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

/* (NOTE: these two control the two images in the stay {Left = Frist Image | Right = Second Image}.) */

img.stayLeft {
    width: 395px;
    height: 395px;
}

img.stayRight {
    width: 65%;
    height: 65%;
}

/* This controls the second banner like image */

img.secondImage {
    width: 85%;
    height: 85%;
    object-fit: cover;
    align-self: center;
}

/* this section is for the facilities */
/* (NOTE: This controls the text) */

section.facilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.facilitiesContent1 {
    display: flex;
}

.facilitiesContent2 {
    display: flex;
}

.kidsClub {
    display: flex;
}

section.kidsClubText {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap-reverse;
    font-size: 23px;
}

.kidsClub img {
    align-self: flex-start;
}

.roomService {
    display: flex;
}

section.roomServiceText {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-size: 23px;
}

.roomService img {
    align-self: flex-start;
}

.fitnessCenter {
    display: flex;
}

section.fitnessCenterText {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-size: 23px;
}

.fitnessCenter img {
    align-self: flex-start;
}

.spa {
    display: flex;
}

section.spaText {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-size: 23px;
}

.spa img {
    align-self: flex-start;
}

.standardButtonMain {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.deluxeButtonMain {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.luxuryButtonMain {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.campButtonMain {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

section.buttonZone {
    display: flex;
    justify-content: space-around;
    height: 700px;
}

.buttonZone section {
    max-width: 500px;
    max-height: 550px;
}

.buttonZone a {
    display: flex;
    flex-direction: column;
    color: black;
    font-style: normal;
    text-decoration: none;
    align-items: center;
    border: 6px solid black;
    max-width: 800px;
    padding: 0px;
    border-radius: 4px;
    background-color: #D7D3C6;
}

.standardButtonMain img {
    max-height: 550px;
    max-width: 300px;
    width: 300px;
}

.deluxeButtonMain img {
    max-width: 300px;
    width: 300px;
}

.luxuryButtonMain img {
    max-width: 300px;
    width: 300px;
}

.campButtonMain img {
    max-width: 300px;
    width: 300px;
}

a h1 {
    margin-bottom: 0px;
    max-width: 800px;
}

a h2 {
    margin-bottom: 0px;
    max-width: 800px;
}

a p {
    text-align: center;
    max-width: 214px;
}

.luxuryButtonMain a h1 {
    margin-top: 15px;
}

.luxuryButtonMain a h2 {
    margin-top: 10px;
}

.campButtonMain a h1 {
    margin-top: 15px;
}

.campButtonMain a h2 {
    margin-top: 9px;
}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width:1200px) {

    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #D7D3C6;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .sidenav a {
        padding: 8px 32px 8px 8px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.3s;
        right: 20px;
        text-align: end;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 36px;
        margin-right: 120px;
        text-align: left;
    }

    span.phoneButton {
        display: block;
        position: fixed;
        right: 0px;
        top: 0px;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    section.header {
        display: none;
    }

    nav.subNavBar {
        display: none;
    }

    .mainNavBar a {
        display: none;
    }

    section.quickFix {
        display: none;
    }

    img.fristImage {
        max-width: 1200px;
    }

    section.stay1 {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    img.stayLeft {
        max-width: 1200px;
        width: 100%;
        height: auto;
    }

    .stayRight h1 {
        font-size: 17.55px;
        text-align: center;
    }

    .stayRight p {
        font-size: 15px;
        text-align: center;
    }

    section.stay2 {
        flex-direction: column-reverse;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    img.stayRight {
        max-width: 1200px;
        width: 100%;
        height: auto;
    }

    p.stayLeft {
        font-size: 15px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    img.secondImage {
        max-width: 1200px;
    }

    .facilities h1 {
        font-size: 22.5px;
        text-align: center;
    }

    .facilities p {
        font-size: 15px;
        text-align: center;
    }

    section.facilitiesContent1 {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    section.kidsClub {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .kidsClub img {
        max-width: 1200px;
        width: 100%;
        height: auto;
    }

    .kidsClub h1 {
        font-size: 22.5px;
        text-align: center;
    }

    .kidsClub p {
        font-size: 15px;
        text-align: center;
    }

    section.roomService {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .roomService img {
        max-width: 1200px;
        width: 100%;
        height: auto;
    }

    .roomService h1 {
        font-size: 22.5px;
        text-align: center;
    }

    .roomService p {
        font-size: 15px;
        text-align: center;
    }

    section.facilitiesContent2 {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    section.fitnessCenter {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .fitnessCenter img {
        max-width: 1200px;
        width: 100%;
        height: auto;
    }

    .fitnessCenter h1 {
        font-size: 22.5px;
        text-align: center;
    }

    .fitnessCenter p {
        font-size: 15px;
        text-align: center;
    }

    section.spa {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .spa img {
        max-width: 1200px;
        width: 100%;
        height: auto;
    }

    .spa h1 {
        font-size: 22.5px;
        text-align: center;
    }

    .spa p {
        font-size: 15px;
        text-align: center;
    }

    section.buttonZone {
        flex-direction: column;
        height: 100%;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: space-between;
        max-width: none;
        max-height: none;
        align-items: center;
    }

    .buttonZone section {
        max-width: none;
        max-height: none;
    }

    section.standardButtonMain {
        padding-left: 0px;
        padding-right: 0px;
        height: auto;
        
    }

    section.deluxeButtonMain {
        padding: 0px;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    section.luxuryButtonMain {
        padding: 0px;
    }

    section.campButtonMain {
        padding: 0px;
        padding-top: 21px;
    }

}