span.phoneButton {
    display: none;
}

.sidenav {
    display: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width:1200px) {

    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #D7D3C6;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .sidenav a {
        padding: 8px 32px 8px 8px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.3s;
        right: 20px;
        text-align: end;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 36px;
        margin-right: 120px;
        text-align: left;
    }

    span.phoneButton {
        display: block;
        position: fixed;
        right: 0px;
        top: 0px;
    }
    
}